body {
  background-color: rgb(133, 247, 247);
}
#cello {
  width: 400px;
}
#cello:hover {
  width: 800px;
  border-radius: 20%;
}

.todo {
  font-size: 30px;
  color: olive;
}

.infopic {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

/* .btn2 {
  width: 100px;
  background-color: rgba(238, 15, 15, 0.637);
  border-radius: 20px;
  color: aliceblue;
  position: relative;
  top: 10px;
  left: 10px;
} */